name: Build Project

on:
  pull_request:
    branches: [main, master, develop]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  macos-build:
    name: macOS Build

    runs-on: macos-15

    timeout-minutes: 30

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Install dependencies via Homebrew
        run: brew install cmake

      - name: Download dependencies
        run: cmake -P scripts/download-deps.cmake

      - name: Build libobs
        run: scripts/build-obs-studio-macos.sh

      - name: Configure
        run: cmake --preset macos

      - name: Build
        run: cmake --build --preset macos

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.event.repository.name }}-bundle-macos-universal-${{ github.run_number }}
          path: build_macos/rundir/RelWithDebInfo/*.plugin
          if-no-files-found: error
